  
  body {
    background: linear-gradient(
      90deg,
      rgb(165, 0, 0) 0%,
      rgb(0, 0, 0) 100%
    );
  }
  /* beer-detail page */
  .beer-name {
    display: flex;
    flex-direction: column;
    text-align:center;
    color: rgb(255, 255, 255); 
    font-weight: bold;
    font-size:60px;
    font-family: 'Montserrat', Arial, sans-serif;
    text-transform: uppercase;
    text-shadow: 0 0 0.15em #b37b04;
    user-select: none;
    white-space: nowrap;
    filter: contrast(0.007em);
  }

  .beer-image {
    margin: auto;
    width: 280px;
    padding: 70px;
    padding-bottom: 50px;
    padding-top: 60px;
    align-items: left;
    flex-direction: column;
    margin: 32px auto;
    direction: ltr;
    transform: translateX(50px);
  }
  
  .beer-detail-list{
    display:list-item;
    flex-direction: column;
    text-align: left;
    padding-left: 400px;
    transform: translateY(-500px);
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: bold;
    font-size: 100px;
    color: #fafafa;

  }
  

  /* beerlist page */

 
.beer-title{
  display: flex;
    flex-direction: column;
    text-align:center;
    color: rgb(255, 255, 255); 
    font-weight: bold;
    font-size:80px;
    font-family: 'Montserrat', Arial, sans-serif;
    /* text-transform: uppercase; */
    text-shadow: 0 0 0.15em #b37b04;
    user-select: none;
    white-space: nowrap;
    filter: contrast(0.007em);
}


.beerpage-image{
  margin: auto;
  width: 280px;
  padding: 70px;
  padding-bottom: 50px;
  padding-top: 60px;
  align-items: left;
  flex-direction: column;
  margin: 32px auto;
  direction: ltr;
  transform: translateX(500px);

}

.beer-button{
box-sizing: border-box;
margin: 0;
padding: 0;
justify-content: start;
width: 200px;
min-height: 100px;
text-align: center;
margin: 40px auto;
border-radius: 10px;
padding-bottom: 20px;
font-size: 24px;
transform: translateX(300px);
text-decoration: none;
border-radius: 10px;
color: rgba(0, 0, 0, 0.8);
background: rgb(255, 255, 255);
font-weight: normal;
text-transform: uppercase;
transition: all 0.5s ease-in-out;
}

.beer-button:hover{
    background: #808080;
    color: #111;
    box-shadow: 0 0 50px #fafafa;
    /* transition-delay: 0.5ms; */
} 


.add-button{
  box-sizing: border-box;
margin: 0;
padding: 0;
justify-content: start;
width: 200px;
min-height: 100px;
text-align: center;
margin: 40px auto;
border-radius: 10px;
padding-bottom: 20px;
font-size: 24px;
transform: translateX(700px);
transition: all 0.5s ease-in-out;
}

.add-button:hover{
  background: #808080;
  color: #111;
  box-shadow: 0 0 50px #f7f5f5;
  /* transition-delay: 0.5ms; */
} 