* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    background: linear-gradient(
      90deg,
      rgb(88, 88, 88) 0%,
      rgb(255, 255, 255) 100%
    );
  }
  
  h1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 10px;
    /* background: #161a2b; */
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }
  
  h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 500px;
    font-family: Fantasy;
    font-weight: bold;
    font-weight: 900;
    font-size: xx-large;
  }
  
  
  img {
    margin: auto;
    width: 50%;
    padding: 70px;
    padding-bottom: 50px;
    padding-top: 50px;
    align-items: left;
    /* flex-direction: column; */
    margin: 32px auto;
    width: 320px;
    direction: ltr;
  }
  
p {
  font-family: fantasy;
}
Header{
  font: fantasy;
  font-size: large;
}
  
h3 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 450px;
  min-height: 100px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  margin: 20px 0;
  color: #fff;
  font-size: 50px;
  align-content: center;
  padding: 16px;
  border: none;
  /* border-radius: 0 4px 4px 0; */
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(177, 129, 255) 100%
  );
  color: #fff;
  text-transform: capitalize;
}


button {
    text-decoration: none;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.8);
    background: rgb(0, 0, 0);
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
  }


button:hover{
    background: #21ebff;
    color: #111;
    box-shadow: 0 0 50px #ff2121;
    transition-delay: 0.5ms;
}
