
.category-title{
  display: flex;
  flex-direction: column;
  text-align:center;
  color: rgb(255, 255, 255); 
  font-weight: bold;
  font-size:80px;
  font-family: 'Montserrat', Arial, sans-serif;
  /* text-transform: uppercase; */
  text-shadow: 0 0 0.15em #b37b04;
  user-select: none;
  white-space: nowrap;
  filter: contrast(0.007em);
}

.categories {
    display: flex;
    flex-direction: column;
    text-align:center;
    color: rgb(255, 255, 255); 
    font-weight: bold;
    font-size:80px;
    font-family: 'Montserrat', Arial, sans-serif;
    /* text-transform: uppercase; */
    text-shadow: 0 0 0.15em #b37b04;
    user-select: none;
    white-space: nowrap;
    filter: contrast(0.007em);
}
 .str-category {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 100px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  margin: 20px 0;
  color: #fff;
  font-size: 50px;
  align-content: center;
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  transition: all 0.5s ease-in-out;
  transform: translateX(40px);
  background: linear-gradient(
    90deg,
    rgb(153, 153, 153) 0%,
    rgb(255, 255, 255) 100%
  );
  color: rgb(3, 3, 3);
  text-transform: capitalize;
}

.str-category:hover{
  background: #808080;
  color: #111;
  box-shadow: 0 0 50px #fafafa;
  transition-delay: 0.5ms;
} 

.cocktail-cat{
  text-align: center;
  font-size: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}






